@charset "utf-8";
/*
CSS Document
autho: zhonghchubin
Date: 2019.10.16.9:33
*/

/* 规整颜色 */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #111;
    --secondary: #0B2F6B;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

/* 清除默认样式 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

*{
    box-sizing: border-box;
}


html, body {
    min-height: 100%;
}


body {
    line-height: 1;
    overflow-x: hidden;
    font-size: 14px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}


ul,ol,li {
    list-style: none;
}
		
img {
    border: none;
    vertical-align: middle;
}
			
      
a {
    text-decoration: none;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
			
      
input, textarea {
    outline: none;
    border: none;
}


input, textarea {
    outline: none;
    border: none;
}


textarea {
    resize: none;
    overflow: auto;
}
