html {
    background-color: #333333;
    color: width;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    float: clear;
}

#zcb {
   position: fixed;
   border-bottom: 1px solid rgb(232,232,232);
   width: 900px;
}

.main-box {
   border-bottom: 1px solid rgb(232,232,232);
   overflow: hidden;
}

.upbox {
   z-index: 100;
   width: 90px;
   height: 20px;
   font-size: 20px;
   line-height: 20px;
   margin: 10px 0 0 20px;
}

.bubox{
    color: rgb(251, 181, 181);
    display: inline-block;
    width: 102px;
    height: 10px;
    margin-top: 10px;
    line-height: 25px;
}

.titl1 {
    font-size: 20px;
    width: 20px;
    height: auto;
    margin: 2px;
    padding: 4px 0 4px 0;
}

.nomal-box {
    font-size: 20px;
    display: inline-block;
    margin: 10px 0 10px 0;
    width: 160px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.bottom-box {
    font-size: 20px;
    display: block;
    margin: 0 40px 0 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.footer-bottom {
    margin: 50px 0 0 0;
    padding-top: 10px;
    color: white;
    min-height: 40px;
    background-color: #444444;
    border-bottom: 3px solid red;
}

.footer-bottom {
    margin: 10px 0 0 0;
    padding-top: 10px;
    color: white;
}

.move{
    display: inline-block;
    position: absolute;
    z-index: 100;
}

.move-1{
    width: 20px;
    height: 20px;
    animation: mymove 20s infinite;
    -webkit-animation: mymove-1 60s infinite;
    background-color: red;
}

@keyframes mymove-1{
    from{left: 0px;}
    to{left: 900px}
}
@-webkit-keyframes mymove-1
{
    from {left: 0px;}
    to {right: 900x;}
}

.move-2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: mymove 10s infinite;
    -webkit-animation: mymove-2 10s infinite;
    background-color: #3CD500;
}

@keyframes mymove-2{
    from{left: 0px;}
    to{left: 900px}
}
@-webkit-keyframes mymove-2{
    from {left: 0px;}
    to {left: 900px;}
}
