html {
    background-color: #272b38;
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    float: clear;
}

.title-bg-1 {
    background-color: #4285f4;
}

.title-bg-1 {
    background-color: #4285f4;
}

.title-bg-2 {
    background-color: #db4437;
}

.title-bg-3 {
    background-color: #f4b400;
}

.title-bg-4 {
    background-color: #0f9d58;
}

.title-bg-5 {
    background-color: #db4437;
}

.title-bg-6 {
    background-color: #db2828;
}

.title-bg-7 {
    background-color: #233232;
}

/* ---------------------------- */

.bgcolor-1 {
    background-color: #a5673f;
}

.bgcolor-2 {
    background-color: #b5cc18;
}

.bgcolor-3 {
    background-color: #db2828;
}

.bgcolor-4 {
    background-color: #00b5ad;
}

.bgcolor-5 {
    background-color: #f2711c;
}

.bgcolor-5 {
    background-color: #f2711c;
}

.bgcolor-6 {
    background-color: #fbbd08;
}

.bgcolor-7 {
    background-color: #b5cc18;
}

.bgcolor-8 {
    background-color: #21ba45;
}

.bgcolor-9 {
    background-color: #db2828;
}

.bgcolor-10 {
    background-color: #e03997;
}

.bgcolor-11 {
    background-color: #a333c8;
}

.bgcolor-12 {
    background-color: #2185d0;
}

.bgcolor-13 {
    background-color: #b5cc18;
}

.bgcolor-14 {
    background-color: #21ba45;
}

.bgcolor-15 {
    background-color: #00b5ad;
}

.bgcolor-16 {
    background-color: #a5673f;
}

/* -------------------------------------------- */

.a-box {
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    margin: 0.2rem 0.1rem !important;
    padding: 0.5em !important;
    min-height: 2em;
    min-height: 2em;
    border-radius: 500rem;
    cursor: pointer;
    text-align: center;
}
