* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #76a299;
}

.A4-position {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
}

.A4-paper {
    width: 630px;
    height: 891px;
    background: #fff;
    overflow: hidden;
    position: relative;
    border: 20px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.A4-paper-left {
    width: 380px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    float: left;
    overflow: hidden;
}

.A4-paper-right {
    width: 190px;
    height: 100%;
    background: #f1f1f1;
    float: right;
    border-right: 20px solid #94cbbf;
    overflow: hidden;
}

.user {
    width: 155px;
    height: 155px;
    display: inline-block;
    border: 2px solid #E5E5E5;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.user::after {
    content: "";
    width: 150px;
    height: 150px;
    background-color: #E5E5E5;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
}

.fa-user {
    position: absolute;
    top: 20px;
    left: 50%;
    translate: -50%;
    z-index: 2;
}
.fa-user::before {
    font-size: 8em;
    color: #b8b1aa;
}
    
.user-name {
    width: 175px;
    height: 140px;
    padding: 10px 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 170px;
}

.user-name h1 {
    font-size: 3em;
}

.user-name span{
    display: inline-block;
    width: 24px;
    height: 14px;
    text-align: center;
    margin-right: 18px;
    line-height: 14px;
}

p:nth-child(3) {
    font-style: italic;
    text-align-last: left;
    margin: 10px 0;
    width: 340px;
    height: 90px;
    overflow: hidden;
    color: #75746a;
    padding: 5px 2px 10px 5px;
    line-height: 26px;
    border-bottom: 1px dashed #E5E5E5;
}

.work-experience{
    border-bottom: 1px dashed #625e5a;
}

.work-experience-title {
    width: 300px;
    height: auto;
    padding: 5px 22px;
    border-radius: 4px;
    background-color: #94cbbf;
    /* position: absolute; */
    font-size: 2em;
    left: -10px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
}

.work-experience-title-attached {
    padding: 20px 2px;
    font-size: 1.25em;
}

.experience-deeds {
    width: 400px;
    height: auto;
    position: relative;
    left: 25px;
    margin: 5px 0;
}

.experience-deeds::after {
    content: "";
    height: 90px;
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 1px dashed #625e5a;
}

li {
    padding: 4px;
    color: #7a7571;
}

.right-box {
    padding: 30px 0 0 10px;
}

.box-title {
    font-size: 1.25em;
    color: #000000;
    padding: 5px 0;
    display: inline-block;
    border-bottom: 2px solid #323232;
    border-radius: 2px;
    margin-bottom: 10px;
}

.box-text {
    line-height: 26px;
    color: #7a7571;
}

.hobby {
    width: 50px;
    height: 60px;
    text-align: center;
    display: inline-block;
}

.hobby a {
    text-align: center;
}

.fa-star,.fa-star-half-full,.fa-star-o {
    color: #94cbbf;
}